<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AssetManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>temporary</display-name>
    <servlet-name>TemporaryAddEmployee</servlet-name>
    <servlet-class>TemporaryAddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemporaryAddEmployee</servlet-name>
    <url-pattern>/TemporaryAddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstController</display-name>
    <servlet-name>FirstController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.FirstController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstController</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEmployeeController</display-name>
    <servlet-name>AdminEmployeeController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.admin.AdminEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEmployeeController</servlet-name>
    <url-pattern>/AdminEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemporaryAddProject</display-name>
    <servlet-name>TemporaryAddProject</servlet-name>
    <servlet-class>TemporaryAddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemporaryAddProject</servlet-name>
    <url-pattern>/TemporaryAddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProjectController</display-name>
    <servlet-name>AdminProjectController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.admin.AdminProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProjectController</servlet-name>
    <url-pattern>/AdminProjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.login.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.employee.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemporaryAddCategory</display-name>
    <servlet-name>TemporaryAddCategory</servlet-name>
    <servlet-class>TemporaryAddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemporaryAddCategory</servlet-name>
    <url-pattern>/TemporaryAddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemporaryAddKeyword</display-name>
    <servlet-name>TemporaryAddKeyword</servlet-name>
    <servlet-class>TemporaryAddKeyword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemporaryAddKeyword</servlet-name>
    <url-pattern>/TemporaryAddKeyword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemporaryAssetPoolEntity</display-name>
    <servlet-name>TemporaryAssetPoolEntity</servlet-name>
    <servlet-class>TemporaryAssetPoolEntity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemporaryAssetPoolEntity</servlet-name>
    <url-pattern>/TemporaryAssetPoolEntity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemporaryKeywordEntity</display-name>
    <servlet-name>TemporaryKeywordEntity</servlet-name>
    <servlet-class>TemporaryKeywordEntity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemporaryKeywordEntity</servlet-name>
    <url-pattern>/TemporaryKeywordEntity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemporaryRequestEntity</display-name>
    <servlet-name>TemporaryRequestEntity</servlet-name>
    <servlet-class>TemporaryRequestEntity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemporaryRequestEntity</servlet-name>
    <url-pattern>/TemporaryRequestEntity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupportController</display-name>
    <servlet-name>SupportController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.support.SupportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupportController</servlet-name>
    <url-pattern>/SupportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerController</display-name>
    <servlet-name>ManagerController</servlet-name>
    <servlet-class>com.assetmanagementsystem.controller.manager.ManagerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerController</servlet-name>
    <url-pattern>/ManagerController</url-pattern>
  </servlet-mapping>
</web-app>